#imageFormWrapper {
  background-color: rgba(80, 80, 80, 0.8);
  z-index: 11;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#loadingWrapper {
  display: none;
  background-color: rgba(200, 200, 200, 0.8);
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#loadingWrapper #spin {
  border: 8px solid #fafafa;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 70px;
  height: 70px;
  animation: spin-anime 1s infinite linear;
  margin: 50px auto 10px;
}
@keyframes spin-anime {
  100% {
    transform: rotate(360deg);
  }
}
#loadingWrapper #loadMsg {
  color: #FFFFFF;
  text-align: center;
}

label.button, a.button {
  font-size: 14px;
  font-weight: bold;
  background-color: #D0D0D0;
  border: solid 1px #808080;
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px 0 0;
  display: inline-block;
  text-align: center;
  user-select: none;
}
label.button:hover, a.button:hover {
  background-color: #A0A0A0;
  cursor: pointer;
}
label.button:active, a.button:active {
  box-shadow: 0px 0px 3px 3px #808080 inset;
}
label.button.button-m-size, a.button.button-m-size {
  width: 100px;
}
label.button.button-l-size, a.button.button-l-size {
  width: 222px;
}
label.button img, a.button img {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
label.button input[type=file], a.button input[type=file] {
  display: none;
}

.wrapper {
  padding: 10px;
  display: flex;
  color: #4B4B4B;
}
.wrapper .container {
  margin: 0 30px 0 0;
}
.wrapper .container div {
  margin: 0 0 10px 0;
}
.wrapper .container div.font-0 {
  font-size: 0;
}

canvas {
  display: block;
}

#tsumo {
  margin: 0 0 10px 0;
}

.radio {
  display: block;
  font-size: 14px;
}
@keyframes radio-checked {
  0% {
    transform: scale(0.1);
  }
  65% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.radio .outside {
  display: inline-block;
  border: 2px solid #CCCCCC;
  border-radius: 50%;
  background-color: #F0F0F0;
  width: 20px;
  height: 20px;
}
.radio .outside .inside {
  display: block;
  position: relative;
  border: 2px solid #4B4B4B;
  border-radius: 50%;
  background-color: #4B4B4B;
  width: 12px;
  height: 12px;
  top: 12px;
  left: 12px;
  margin: -10px 0 0 -10px;
  transform: scale(0);
}
.radio input[type=radio] {
  display: none;
}
.radio input[type=radio]:checked + .outside .inside {
  animation: radio-checked 0.1s linear;
  transform: scale(1);
}
.radio label {
  vertical-align: super;
  font-weight: bold;
  margin: 0 0 0 10px;
  user-select: none;
}

.range img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.range input[type=range] {
  margin: 0 10px;
  vertical-align: middle;
}

hr {
  margin: 15px 0;
  border-top: 2px solid #D0D0D0;
  border-bottom: 0 solid #FFFFFF;
}

.keyboard-manual {
  font-size: 13px;
}
.keyboard-manual thead th {
  background-color: #666666;
  color: #FFFFFF;
  padding: 0.5em;
}
.keyboard-manual tbody th, .keyboard-manual tbody td {
  border: 1px solid #A0A0A0;
  padding: 0.2em 0.5em;
  white-space: nowrap;
}
.keyboard-manual tbody th {
  background-color: #D0D0D0;
}

#chainInfoWrapper {
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}

#chainInfoTable {
  font-size: 11px;
  background-color: #E0E0E0;
}
#chainInfoTable thead th {
  position: sticky;
  top: 0;
  writing-mode: vertical-rl;
  background-color: #40B0FF;
  border: 1px solid #3090CC;
  color: #FFFFFF;
  padding: 5px 0;
  text-shadow: 1px 1px 1px #404040, -1px -1px 1px #404040, -1px 1px 1px #404040, 1px -1px 1px #404040, 1px 0px 1px #404040, -1px 0px 1px #404040, 0px 1px 1px #404040, 0px -1px 1px #404040;
}
#chainInfoTable thead th.chain, #chainInfoTable thead th.erase, #chainInfoTable thead th.color {
  min-width: 30px;
}
#chainInfoTable thead th.score, #chainInfoTable thead th.connect {
  min-width: 50px;
}
#chainInfoTable tbody td {
  text-align: right;
  padding: 0 5px;
}
#chainInfoTable tbody tr.detail td {
  background-color: #FFFFFF;
}
#chainInfoTable tbody tr.total td {
  font-weight: bold;
  height: 22px;
  background-color: #BBFFFF;
}
#chainInfoTable tbody tr.total td.ojama {
  text-align: left !important;
  vertical-align: bottom;
  padding-bottom: 3px;
}
#chainInfoTable tbody tr.total td.ojama .img-ojama {
  margin: 0px 1px;
  vertical-align: bottom;
}
#chainInfoTable tbody tr.total td.ojama .img-ojama.ojama-s {
  height: 13px;
}
#chainInfoTable tbody tr.total td.ojama .img-ojama.ojama-m {
  height: 17px;
}
#chainInfoTable tbody tr.total td.ojama .img-ojama.ojama-rock {
  height: 18px;
}
#chainInfoTable tbody tr.total td.ojama .img-ojama.ojama-star {
  height: 20px;
}
#chainInfoTable tbody tr.total td.ojama .img-ojama.ojama-moon {
  height: 20px;
}
#chainInfoTable tbody tr.total td.ojama .img-ojama.ojama-crown {
  height: 18px;
}
#chainInfoTable tbody tr.empty td {
  height: 5px;
}